<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="nacl-server.ZPM">
    <Module>
      <Name>nacl-server</Name>
	  <Description>Use NativeAPI as command line</Description> 
      <Version>0.0.3</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="%ZX.INT"/>
      <Resource Name="dc.MultiDz.GBL"/>
    </Module>
  </Document>
</Export>
